@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

:root {
    /* fonts */
    --circus-display-font: 'Rye';
    --font-text: 'Alegreya';
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    /* colors */
    --circus-red: #b01302;
    --acrobat-green: #50958f;
    --barnum-blue: #1A5169;
    --lions-mane-yellow: #d5aa10;
    --parchment-poster: #ded3bc;
    --old-white: #FFF8EA;
    --black-ink: #172023;
}

html {
    font-family: var(--font-text);
    font-weight: 400; 
    font-size: 10px;
    color: var(--black-ink);
    line-height: 1.4;
    margin: 0;
    padding: 5%;
    position: relative;
}

body {
    margin-bottom: 200px;
    font-size: 1.5rem;
    background-color: var(--parchment-poster);
    border: 20px solid var(--circus-red);
    outline: 5px solid var(--lions-mane-yellow);
}

.page-wrapper {
    display: grid;
    background-color: var(--acrobat-green);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
    "i i i"
    "m m s"
    "m m f";
}

.intro, .main, .sidebar {
    margin: 20px;
}

.intro {
    grid-area: i;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c";
}

header {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.summary {
    grid-area: b;
    text-align: center;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .summary {
        width: 80%;
    }
}

.summary p:last-child {
    padding-bottom: 10%;
}

.summary::after {
    content: '';
    display: block;
    width: 80%;
    margin: auto;
    border-top: 8px solid var(--circus-red);
    border-bottom: 3px solid var(--lions-mane-yellow);

}


.preamble {
    grid-area: c;
    position: relative;
    width: 50%;
    margin-left: 10%;
}

.preamble::after {
    content: '';
    width: 30vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    top: 10%;
    right: -80%;
    background-image: url(/static/circus-clown.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: swivel 5s infinite alternate-reverse;
}

@keyframes swivel {
    0% {transform: rotate(15deg)};
    100% {transform: rotate(-15deg)};
}

abbr {
    text-decoration: none;
}

h1 {
    padding-bottom: 500px;
    background-image: url(/static/circus-tent.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom center;
    margin: 0;
    font-family: var(--circus-display-font);
    font-size: 8rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--circus-red);
    text-align: center;
    -webkit-text-stroke: 1.5px var(--old-white);
    text-align: center;
}

h1::after {
    content: " Circus"
}

h2 {
    text-align: center;
}

.sidebar {
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: var(--parchment-poster);
    border: 3px solid var(--lions-mane-yellow);
}

.main {
    grid-area: m;
    padding: 0% 10%;
}

h2, h3 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--old-white);
    -webkit-text-stroke: 1px var(--black-ink);
}

p {
    font-size: 1.8rem;
}

a {
    color: var(--barnum-blue);
    text-decoration: solid underline currentColor 1px;
}

.next a {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.next a::after {
    display: inline-block;
    content: '';
    background-image: url(/static/arrow-hand.png);
    width: 60px;
    height: 50px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    animation: point-right 1s infinite alternate-reverse;
}

@keyframes point-right {
    0% {transform: translateX(15%)};
}

.extra2 {
    background-image: url(/static/circus-unicycle.png);
    background-repeat: no-repeat;
    background-size: 150px;
    position: fixed;
    bottom: -5px;
    right: -25%;
    width: 200px;
    height: 200px;
    animation: cyclist 30s infinite;
}

@keyframes cyclist{
    50%  {right: 115%}
    51% {transform: scaleX(1)}
    52% {transform: scaleX(-1)}
    98% {transform: scaleX(-1)}
    99% {transform: scaleX(1)}
    100%  {right: -25%;}
  }


.wrapper {
    padding: 20px;
    position: relative;
}

.wrapper > div > h3 {
    color: var(--acrobat-green);
    font-size: 3rem;
    -webkit-text-stroke: .5px var(--black-ink);
    text-align: center;
}

.wrapper > div > nav > ul,
.wrapper > div > ul {
    padding: 0px;
    text-align: center;
}

.wrapper > div > nav > ul > li,
.wrapper > div > ul > li {
    list-style: none;
    text-align: center;
}

.wrapper > div > nav > ul > li > a,
.wrapper > div > ul > li > a {
    text-decoration: none;
    color: var(--circus-red);
}

.zen-resources {
    border: 3px solid var(--acrobat-green);
    padding: 0px 0 30px 0;
    margin-top: 30px;
}

.design-name {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
}
.designer-name {
    display: block;
    margin-bottom: 2rem;
}

.wrapper::after {
    content: '';
    width: 35vw;
    height: 100vh;
    display: inline-block;
    position: absolute;
    bottom: -80%;
    right: -35%;
    background-image: url(/static/circus-elephant.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: balance 7s infinite alternate-reverse;
}

@keyframes balance {
    0% {transform: rotate(-15deg)};
    20% {transform: rotate(5deg )}
    50% {transform: rotate(8deg) rotate3d(0, 1, 0.5, .42rad);}
    100% {transform: rotate(-15deg)};
}

footer {
    display: flex;
    flex-direction: row;
    padding: 5%;
    position: absolute;
    bottom: 0;
    width: 60vw;
    justify-content: space-between;
}

footer a {
    background-color: var(--circus-red);
    border: 2px solid var(--lions-mane-yellow);
    color: var(--old-white);
    padding: 15px 30px;
    text-decoration: none;
}

footer a:hover {
    background-color: var(--acrobat-green);
}